<%= form_with model: [review, comment], url: public_review_comments_path(review), local: false do |f| %>
  <div class="modal-body">
    <div><%= f.text_area :detail, rows: '5', placeholder: "コメントをここに", id: "comment_form", class:"form-control" %></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
    <%= f.submit "送信する", class:"btn btn-primary" %>
  </div>
<% end %>