<table class="table table-hover table-inverse">
  <!--検索対象モデルがcustomerの時 -->
  <% if @range == "Customer" %>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.name %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがcustomerではない時 -->
    <tbody>
      <% @production_area.each do |production_area| %>
        <tr>
          <td><%= production_area.genre_name %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
