<div class="mt-3">
  <% if review.favorited_by?(current_customer) %>
    <%= link_to  public_review_favorites_path(review), method: :delete, remote: true do %>
    ♥<%= review.favorites.count %>役に立った
    <% end %>
  <% else %>
    <%= link_to  public_review_favorites_path(review), method: :post, remote: true do %>
    ♡<%= review.favorites.count %>役に立った
    <% end %>
  <% end %>
</div>