<body>
  <h5 class="d-inline-block font-weight-bold mb-5 ml-5 mt-4 px-3" style="background-color: ghostwhite">原産地編集</h5>
    <%= form_with model: @production_area, url: admin_production_area_path(@production_area.id), method: :patch do |f| %>
      <div class="text-center">
          <label class="mb-3">ジャンル名</label>
            <div class=><%= f.text_field :genre_name, class: "mb-3 w-25" %></div>
            <div class=><%= f.file_field :area_image, accept: "image/*", class: "mb-3" %></div>
        <div><%= f.submit '変更を保存', class:'btn btn-outline-primary w-25' %></div>
      <% end %>
    </div>
</body>